@import '../variables';

.spending-overview {
    background-color: $vporange;
    color: $mediumbrown;
    padding: 1.5rem;
    border-radius: 1.5rem;

    .divider {
        height: 2px;
        background-color: $cream;
    }

    h1 {
        margin-top: 0;
        color: $darkbrown;
        text-align: left;
    }

    .spending-graph {
        display: flex;
        margin-bottom: 2rem;

        .spending-bar-holder {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            width: 60px;
            margin-top: 60px;
            .spending-bar-block {
                background-color: $softred;
                position: relative;
                border-radius: 0.5rem;

                &.current {
                    background-color: $cyan;

                    &:hover {
                        background-color: lighten($cyan, 10%);
                    }
                }

                &:hover {
                    background-color: lighten($softred, 10%);
                    
                    .spending-bar-info {
                        display: block;
                        width: calc(60px + 1rem);
                        position: absolute;
                        top: -50px;
                        left: calc(-0.6rem);
                        color: $vporange;
                        border-radius: 0.25rem;
                        background-color: $darkbrown;
                        font-weight: bold;
                        padding: 0.5rem 0.1rem;
                    }
                }

                .spending-bar-info {
                    display: none;
                }
            }
        }
    }

    .spending-total {
        margin-top: 2rem;
        text-align: left;
        .text-wrapper {
            display:flex;
            justify-content: space-between;
            align-items: center;
            .align-right {
                text-align: right;
            }
            .bold {
                font-weight: bold !important;
                color: $darkbrown;
            }
        }
        h1 {
            font-size: 3rem;
        }
    }
}