
.detailed{
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.detailed-body{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 0;
}

.detailed-body > div {
    flex-grow: 2;
    margin: 0px 50px;
    width:50%;
}



.detailed-flag{
    height:100%;
    max-height:600px;
    width:auto;
    min-width:100%;
    max-width: 100;
    /* width:auto;
    height:auto;
    max-width:100%;
    max-height:100%; */
    box-shadow: var(--shadow);

}

.backbutton {
    margin:0px 45px;
    background-color: var(--background-comp-color);
    padding:12px 35px;
    width:130px;
    font-weight: 100;
    color: var(--text-color);
    border:none;
    box-shadow: var(--shadow);
}
.button-container{
    display:flex;
    padding:45px 0px;
}

.borderbutton {
    margin:5px 5px;
    background-color: var(--background-comp-color);
    padding:10px 10px;
    font-weight: 300;
    color: var(--text-color);
    border:none;
    box-shadow: var(--shadow);
}


.detailed-details{
    margin:50px 0px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    height:200px;
}
.detailed-details > div {
    display:block;
    height:30px;
    flex-basis: 20%;
}

.detailed-body {
    text-align: left;
}


@media only screen and (max-width:1150px) {

    .detailed{
        margin:0px 15px;
        width:calc(100vw - 30px);
    }
    .detailed-body{
        flex-direction: column;
        align-items: flex-start;
    }

    .detailed-body > div {
        flex-grow: 2;
        margin: 0px 0px;
        width:50%;
    }

    .detailed-flag{
        max-width: 90vw;
    }
    .detailed-body > div {
        width:100%;
    }
    .detailed-right{
        max-width:calc(100vw - 20px)
    }
    .backbutton{
        margin:0;
    }
}