.region-select {
    position: relative;
    margin-bottom:10px;
    width:240px;
    background-color: var(--background-comp-color);
    font-weight: 300;
    border-radius: 0.5em;
    padding:5px 0px;
    box-shadow: var(--shadow);
}
.cancel-button{
    margin-bottom:10px;
    margin-right:5px;
    background-color: var(--background-comp-color);
    width:65px;
    border: none;
    color: var(--text-color);
    border-radius:0.5em;
    font-size: 25px;
    box-shadow: var(--shadow);
}
.dropdown {
    position:absolute;
    height:200px;
    bottom:-205px;
    left:0;
    right:0;
    background-color: var(--background-comp-color);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    box-shadow: var(--shadow);
}

.dropdown div{
    padding:8px 30px;
    text-align: left;
    
}
.dropdown div:hover{
    background-color: aqua;
}
.region-outter{
    display:flex;
    flex-direction: row;
    border-radius:2em;
}

.region-select-top {
    background-color: var(--background-comp-color);
    border-radius:0.5em;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding:20px 30px;
}

@media only screen and (max-width:1150px) {
    .region-outter{
        flex-direction: row-reverse;
    }

    .cancel-button{
        margin-left:5px; 
    }
}