.searchbar{
    margin-bottom:10px;
    max-width: 100vw;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background-comp-color);
    padding:26px 20px;
    border-radius: 0.5em;
    box-shadow: var(--shadow);
    color: var(--text-color);

}
::placeholder{
    color: var(--text-color);
}
.searchbar > input {
    max-width:100vw;
    color: var(--text-color);
    width: 300px;
    margin-left:20px;
    background-color: rgba(0,0,0,0);
    border:none;
    font-size:15px;

}
.searchbar > input:focus {
    outline: 1px solid white;
    outline-offset: 0.5em;
}

@media only screen and (max-width:1150px) {
    .searchbar {
        margin: 0px 0px;
        margin-bottom:30px;
        width: calc(100vw - 85px);
    }
}